<h1>Editing sentence transformation</h1>

<%= render "form", sentence_transformation: @sentence_transformation %>

<br>

<div>
  <%= link_to "Show this sentence transformation", @sentence_transformation %> |
  <%= link_to "Back to sentence transformations", sentence_transformations_path %>
</div>
