<h1>New sentence transformation</h1>

<%= render "form", sentence_transformation: @sentence_transformation %>

<br>

<div>
  <%= link_to "Back to sentence transformations", sentence_transformations_path %>
</div>
